*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-padding-top: 2rem;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
    font-family: "Poppins", sans-serif;
}

:root{
    --main-color: #4a66c5;
    --second-color: #09448b;
}

section{
    padding: 50px 10%;
}

img{
    width: 100%;
}

header{
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #fff;
    box-shadow: 0 4px 41px rgb(14 55 54 / 14%);
    padding: 15px 10%;
    transition: 0.2s;
}

.logo{
    display: flex;
    align-items: center;
}



.logo img{
    width: 40px;
}

*::selection{
    color: #fff;
    background: var(--main-color);
}

.navbar{
    display: flex;
}

.navbar a{
    font-size: 1rem;
    padding: 11px 20px;
    color: var(--second-color);
    font-weight: 600;
    text-transform: uppercase;
}

.navbar a:hover{
    color: var(--main-color);
}

#menu-icon{
    font-size: 24px;
    cursor: pointer;
    z-index: 1001;
    display: none;
}

.header{
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background: #bbfcff;
    gap: 1rem;

}


.home-text{
    flex: 1 1 17rem;
}

.home-img{
    flex: 1 1 17rem;
}

.home-img img{
    animation: animate 3s linear infinite;
}

@keyframes animate{
    0%{
        transform: translate(-11px, 0);
    }

    50%{
        transform: translate(-0px, -11px);
    }

    100%{
        transform: translate(-11px, 0);
    }


}

.home-text span{
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 600;
    color: var(--second-color);
    font-family: monospace;
}

.home-text span{
    cursor: default;

}

.home-text h1{
    font-size: 5rem;
    color: var(--main-color);
    font-weight: bolder;

}

.home-text h1:hover{
    cursor: default;

}

.home-text h2{
    font-size: 1.8rem;
    font-weight: 600;
    color: var(--second-color);
    text-transform: uppercase;
    margin: 0.5rem 0 1.4rem;
    font-family: monospace;
}

.home-text h2{
    cursor: default;

}

.downloadBtn
{
    justify-content: center;
    width: fit-content;
    margin-left: 43%;
    margin-top: 60px;
    margin-bottom: 50px;
}

.btn{
    padding: 7px 16px; 
    border: 2px solid var(--second-color);
    border-radius: 40px;
    color: var(--second-color);
    font-weight: 500;
    justify-content: center;
}

.btn:hover{
    color: #fff;
    background: var(--second-color);
}

.heading{
    text-align: center;
    text-transform: uppercase;
}

.heading span{
    font-size: 1rem;
    font-weight: 600;
    color: var(--second-color);
}

.heading h1{
    font-size: 2rem;
    color: var(--main-color);
}

.shop-container{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-top: 5rem;
}

.shop-container .box{
    flex: 1 1 10rem;
    background:var(--main-color);
    padding: 20px;
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    margin-top: 3rem;
    border-radius: 0.5rem;

    margin: 20px;
    flex-wrap: wrap;
    justify-content: flex-start;
    flex-basis: calc(23.33% - 20px); 
    margin-bottom: 40px;

}



.shop-container .box .box-img{
    width: 150px;
    height: 150px;
    margin-top: -100px;
}

.shop-container .box .box-img img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;

}

.shop-container .box:hover{
    background:#002758;
    
    
}



.stars{
    margin: 1rem 0 0 0.1rem ;
}

.shop-container .box .stars .bx{
    color: #eefeff;
}

.shop-container .box h2
{
    color: #FFF;
    font-size: 1.8rem;
}


.shop-container .box span
{
    color: #FFF;
    font-size: 1.1rem;
    font-weight: 500;
    margin: 0.2rem 0 0.5rem;
}

.box .btn{
    border: 2px solid #000000;
    color:#000000;
    background: #FFF;
}

.box .btn:hover{
    background: #bbfcff;
    color: var(--second-color);
}

.container{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    margin-top: 2rem;

}

.delivery {
    background: #bbfcff;
}

.delivery-img, .app-img
{
    flex: 1 1 21rem;
}

.delivery-text, .app-text{
    flex: 1 1 21rem;
}

.delivery-text h2, .app-text h2{
    font-size: 1.2rem;
    color: var(--second-color);
}

.delivery-text p, .app-text p{
    margin: 0.5rem 0 1rem;
    text-align: justify;
}


.about{
    display: flex;
    flex-wrap: wrap;
    background: #ffffff;
    gap: 1.5rem;
}

.portfoilo{
   
   
    background: rgb(187, 252, 255);
    gap: 1.5rem;
}

.about-img{
    flex: 1 1 17rem;
}

.about-text{
    flex: 1 1 17rem;
}

.about-text h2{
    font-size: 1.2rem;
    color: var(--second-color);
}

.about-text p{
    margin: 0.5rem 0 1rem;
    text-align: justify;
}



#back-to-top-btn {
    display: none;
    position:fixed;
    bottom: 10px;
    transform: translateX(-50%);
    left: 50%;
    z-index: 99;
    background-color: rgb(0, 49, 81);
   padding: 3px;
   border-radius: 15%;
  width: 80px;
  height: 30px;
  color: #fff;
  }
  
  #back-to-top-btn:hover {
    cursor: pointer;
    background-color: #111;
  }


.contact{
    display: flex;
    flex-direction: column;
    align-items: center;

}

.social a{
    font-size: 27px;
    margin: 0.5rem;
}

.social a .bx{
    padding: 5px;
    color: #fff;
    background: #000000;
    border-radius: 50%;
    margin-top: 30px;



}

.social a .bx:hover{
    
    background: var(--main-color);
    
    


}

.card
{
    position: relative;
    width: 400px;
    height: 300px;
    margin: 20px;
    display:flex;
    flex-wrap: wrap;
    max-width: 960px;
    justify-content: flex-start;
    align-items: center;
    border-radius: 20px;
    background: rgb(0, 49, 81);
    flex-basis: calc(33.33% - 20px); /* adjust the percentage as needed, and consider adding a margin/padding */
}


.card  img
{
   position:absolute;
   bottom: 0;
   left: 50%;
   transform: translateX(-50%);
   height: 290px;
   transition: 0.5s;
   
}

.card:hover img
{
    left: 80%;
    height: 310px;
}

 .card .content 
 {
    position: relative;
    width: 50%;
    left: 20%;
    padding: 20px 20px 20px 40px;
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
 }

.card:hover .content
{
    opacity: 1;
    visibility: visible;
    left: 0%;
}


.card .content h2
{
    color: rgb(255, 255, 255);
    
    font-size: 1.5em;
    line-height: 1.5em;
    cursor:default;
}

.card .content p
{
    color: rgb(255, 255, 255);
    margin-top: 1px;
    text-align: center;
}

.card .content a
{
    position: relative;
    display: inline-block;
    color: #111;
    padding: 10px 20px;
    border-radius: 10px;
    background: #fff;
    margin-top: 10px;
    text-decoration: none;

}

.card .content a:hover
{
    background: #111;
    color: #FFF;
}

.links{
    margin: 1rem 0 1rem;
}

.links a{
    font-size: 1rem;
    font-weight: 500;
    color: var(--second-color);
    padding: 1rem;
}

.links a:hover{

    color: var(--main-color);
}

.contact p{
    text-align: center;
}

.about-col-1{
    flex-basis:35%;
    text-align: center;
    width: 65%;
  height: 500px; /* or any other height you prefer */
  margin-left: 27%;
  
  
}
.about-col-1 img{
    width: 100%;
    border-radius: 200px;
    transition: all 0.2s ease-in-out;
    
  
}
.about-col-1 img:hover{
    
    border-radius: 50px;
    
    transform: translateY(-5px);
}

.about-col-2{
    flex-basis:60%;

}


.copyright{
    text-align: center;
   
}

@media (max-width:1150px){
    header{
        padding: 18px 7%;
    }
    section{
        padding: 50px 7%;
    }

    .home-text h1{
        font-size: 3rem;
    }

    .home-text h2{
        font-size: 1.5rem;
    }


    .card{
        position: relative;
        width: 100%;
        max-width: 600px;
        transition: 0.5s;
        align-items: flex-start;
        margin: 20px 0;
    }


    .card:hover
    {
        height: 600px;
    }

    .card:hover img
    {
        left: 50%;
        height: 350px;
    }
    .card .content
    {
        width: 100%;
        left: 0;
        padding: 40px;
    }
}

@media (max-width:991px){
    header{
        padding: 18px 4%;
    }
    section{
        padding: 50px 4%;
    }

    .heading-h1{
        text-align: center;
        justify-content: center;
        display: flex;
    }

    
}

@media (max-width:768px){
    header{
        padding: 11px 4%;
    }
     #menu-icon{
        display: initial;
     }

     header .navbar{
        position: absolute;
        top: -500px;
        left: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        background: #fff;
        box-shadow: 0 4px 4px rgb(14 55 54 / 14%);
        border-top: 2px solid var(--main-color);
        transition: 0.2s;
        text-align: left;
     }

     .navbar a{
        padding: 1.5rem;
        display: block;
        color: var(--second-color);
     }

     .navbar.active{
        top: 100%;
     }

     .home-text span{
        font-size: 0.9rem;
     }

     .home-text h1{
        font-size: 2.4rem;
     }

     .home-text h2{
        font-size: 1.2rem;
     }

     .heading-h1{

     }

    
}


@media (max-width:768px){
    .home-text{
        padding-top: inherit;
    }

    .shop-container .box{
        margin-top: 6rem;

        

    }

    .heading h1{
        font-size: 1.5rem;


    }

    .heading span {
        font-size: 0.9rem;
    }

    .about{
        flex-direction: column-reverse;

    }

    .links{
        display: flex;
        flex-direction: column;

    }









}

@media (max-width:500px){


    .links{
        display: flex;
        flex-direction: column;

    }

    .home-text h1{
        font-size: 3rem;
        text-align: center;
    }

    .home-text h2{
        font-size: 1.2rem;
        text-align: center;
    }

    .home-text span{
        font-size: 1rem;
        text-align: center;
        display: flex;
        margin-left: 36%;
        
        
       
        
        
    }

    .delivery-text p{
        text-align: center;
        font-size: 22px;
    }

    .delivery-text h2{
        text-align: center;
        font-size: 30px;
        margin-bottom: 20px;
    }

    .shop-container .box{

        margin: 30px;
        


    }

    .downloadBtn{
        margin-left: 28%;
    }
    

    .about-col-1{
        width: 80%;
        margin-left: 50px;
    }

    .copyright{
        text-align: center;
       
    }

    .heading span {
        font-size: 1.2rem;
        
    }
}


@media (max-width:300px){

    .about-col-1 img{
        margin-left: -10%;
    }

    .downloadBtn{
        margin-left: 18%;
    }

    .copyright{
        text-align: center;
       
    }

    .delivery-text p{
        text-align: center;
        font-size: 16px;
    }

    .delivery-text h2{
        text-align: center;
        font-size: 22px;
        margin-bottom: 20px;
    }

    .shop-container .box .box-img img {
        width: 80%;
        height: 100%;
        object-fit: contain;
        object-position: center;
    }

    

    .shop-container .box h2 {
        color: #FFF;
        font-size: 1.3rem;
        margin-bottom: 10px;
        margin-top: 10px;
    }

    .shop-container .box span {
        color: #FFF;
        font-size: 1.0rem;
        font-weight: 500;
        margin: 0.2rem 0 0.5rem;
        margin-bottom: 20px;
    }

    .home-text h1 {
        font-size: 2.2rem;
        text-align: center;
       
    }

    .heading span {
        font-size: 0.9rem;
        text-transform: lowercase;
    }

}

